.u-section-1 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  height: 729px;
  width: 1071px;
  --radius: 10px;
  margin: 52px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 640px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 368px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-image-1 {
    height: 232px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}